* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
  }
/* estilos globales */
.button{
    border-radius: 20px;
    padding: 13px;
}

/* colores */
:root {
  --color-titulos: #f30b3c; /* Por ejemplo, azul primario */
  --color-titulosV2: #865dff;
  --color-secundario: #191825; /* Por ejemplo, gris secundario */
  --color-letras: #ffc8d0; /* Por ejemplo, naranja destacado */
  --color-letrasV2: #fe9b67;
  --color-letrasV3: #ffa3fd;
}
body{
  background-color: var(--color-secundario);
  color: var(--color-letras);
}
/* Navbar */
  nav{
    display: flex; /* Hace que los elementos internos se alineen en una fila */
    justify-content: center; /* Distribuye el espacio disponible de manera uniforme entre los elementos internos */
    align-items: center; /* Centra verticalmente los elementos internos */
    background-color: var(--color-secundario); /* Color de fondo para la barra de navegación */
    color: var(--color-titulos); /* Color de texto para los elementos de navegación */
    padding: 10px 20px; /* Espaciado interno para la barra de navegación */
  }
  .navUl {
    list-style: none; /* Elimina los puntos de lista predeterminados */
    display: flex; /* Hace que los elementos de la lista se muestren en una fila */
    gap: 20px; /* Espacio entre los elementos de la lista */    
  }  
  .navUlLi {
    padding: 0; 
    font-size: 22px;
  } 
  
  /* enlaces del nav */
  .navUlLi-a{
    position: relative;
    text-decoration: none;
    color: var(--color-titulos);
  }
  .navUlLi-a::before, .navUlLi-a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0; /* Inicialmente la línea no tiene ancho */
    height: 2px; /* Altura de la línea */
    bottom: -2px; /* Coloca la línea justo por debajo del enlace */
    background: #f30b3c; /* Color de la línea */
    transition: width 0.3s ease; /* Transición suave para el ancho */
  }
  .navUlLi-a::before {
    right: 100%; /* Inicialmente, la línea comienza desde la izquierda del enlace */
  }
  
  .navUlLi-a:hover::before {
    width: 100%; /* Al pasar el puntero, la línea crece hacia la derecha */
  }
  
  
  /* main */
  .mainContainer, .aboutContainer{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
  }
 .mainImg{
    border-radius: 50%;
    height: 50vh;
 }
 .main-title{
  color: var(--color-titulos);
  font-size: 3rem;
 }
 .main-subtitle{
  font-size: 1.5rem;
 }
/* About Me */
.aboutContainer{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
.aboutImg{
    height: 50vh;
    border-radius: 17px;
}
.aboutDescription{
    font-size: 20px;
    margin: 12px;
}
.title{
    display: flex;
    justify-content: center;
    color: var(--color-titulos);
    font-size: 2rem;
}

/* skills */
.buttonFilter{
  background-color: var(--color-secundario);
  color: var(--color-titulos); 
  border: 1px bold #ff647b; 
  border-radius: 10px; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 1rem;
  margin: 10px;
}
.buttonFilter:hover {
  background-color: var(--color-titulos);
  color: var(--color-secundario); 
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.buttonSkills, .buttonsContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 3px;
}

/* portfolio */

.containerCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cardPortfolio{
    background-color: #494747;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px; 
    /* flex-grow: 1; */
    
    padding: 10px;
    color: #fff;
    margin: 10px;
    border-radius: 15px;
}
.imgPortfolio{
    width: 100%;
    border-radius: 15px;
}
/* skills */
.ContainerSkillsAndTools{
  background-color: #494747;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgSkill{
  width: 80px;
  
}

/* footer */
#footer{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    
}
.footerText{
    display: flex;
    justify-content: center;
    margin: 50px;
}